*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-new-fashion{
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
}
.box-type{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    border-bottom: 2px solid rgb(255, 188, 199);
}
.path{
    width: 100px;
    padding: 15px 20px;
    height: 100%;
    background-color: rgb(255, 177, 190);
    clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
}
.path h3{
    color: #333;
    font-size: 20px;
}
.box-card{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    /* background-color: red; */
}
.box-card .card{
    height: 350px;
    display: flex;
}
.card .image{
    width: 50%;
    /* height: 350px; */
    padding: 1px;
    background-color: pink;
}
.card .image img{
    width: 100%;
    height: 100%;
}
.card .body{
    width: 50%;
    padding: 20px 30px;
    /* height: 350px; */
    background-color:aliceblue;
}
.body p:nth-child(1){
    color: #706f67;
    margin-bottom: 30px;
}
.body h1{
    margin-bottom: 30px;
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.body p:nth-child(2){
    color: #5b5950;
}
.body p:nth-child(3){
    color: #5b5950;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.body p:nth-child(4){
    color: rgb(6, 173, 6);
    margin-bottom: 20px;
    font-size: 25px;
}
.body button{
    padding: 7px 0px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: rgb(6, 173, 6);
    border-radius: 2px;
    color: #fff;
}